table {
    width: 100%;
    border-collapse: collapse;

    tr {
        th {
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
        }

        td {
            padding: 10px;
            border: 1px solid black;
        }
    }

    tr:nth-child(even) {
        background-color: #36393f;
    }

    tr:nth-child(odd) {
        background-color: #2f3136;
    }
}