div.filter {
    width: 95%;
    margin: auto;
    box-sizing: border-box;
    padding-left: 20px;
    color: black;
    background-color: #424242;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin: auto;

    tr {
        td {
            padding: 10px;
            border: 1px solid black;
            color: white;
        }

        th {
            color: white;
        }

        td.icon {
            width: 100px;
            padding: 0px;

            img {
                height: 100px;
                width: 100px;
            }
        }

        td.nicknames {
            span + span:last-child {
                &::before {
                    content: ", ";
                }
            }
            span:nth-of-type(n + 2):not(:last-child) {
                &::before {
                    content: ", ";
                }
            }
        }
    }

    tr:nth-child(even) {
        background-color: #36393f;
    }

    tr:nth-child(odd) {
        background-color: #2f3136;
    }
}

mat-paginator {
    width: 95%;
    margin: auto;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}