<h1>Characters</h1>

<div class="filter">
    <mat-form-field color="accent">
        <input matInput type="text" (keyup)="doGlobalFilter($event)" placeholder="Global">
    </mat-form-field>
    <mat-form-field color="accent">
        <input matInput type="text" (keyup)="doCharacterNameFilter($event)" placeholder="Name">
    </mat-form-field>
    <mat-form-field color="accent">
        <input matInput type="text" (keyup)="doPlayerFilter($event)" placeholder="Player">
    </mat-form-field>
    <mat-form-field color="accent">
        <input matInput type="text" (keyup)="doHometownFilter($event)" placeholder="Hometown">
    </mat-form-field>
    <mat-form-field color="accent">
        <input matInput type="text" (keyup)="doHouseFilter($event)" placeholder="House">
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="newCharacter()" *ngIf="canEdit()">New Character</button>
</div>

<div class="wrapper">
    <table mat-table [dataSource]="characters" matSort>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef>Icon</th>
            <td class="icon" mat-cell *matCellDef="let c"><a href="/characters/{{c['ID']}}"><img src="https://host.lgbt/pics/{{c['picture']}}"></a></td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let c"><a href="/characters/{{c['ID']}}">{{c['name']}}</a></td>
        </ng-container>

        <ng-container matColumnDef="nicknames">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nicknames</th>
            <td mat-cell *matCellDef="let c"><span *ngIf="c['nickname1']">{{c['nickname1']}}</span><span *ngIf="c['nickname2']">{{c['nickname2']}}</span></td>
        </ng-container>

        <ng-container matColumnDef="journal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Journal</th>
            <td mat-cell *matCellDef="let c"><a href="https://{{c['journal']}}.dreamwidth.org/">{{c['journal']}}</a></td>
        </ng-container>

        <ng-container matColumnDef="player">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Player</th>
            <td mat-cell *matCellDef="let c">{{c['player']}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let c">{{c['status']}}</td>
        </ng-container>

        <ng-container matColumnDef="sect">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sect</th>
            <td mat-cell *matCellDef="let c">{{c['sect']}}</td>
        </ng-container>

        <ng-container matColumnDef="hometown">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hometown</th>
            <td mat-cell *matCellDef="let c">{{c['hometown']}}, {{c['country']}}</td>
        </ng-container>

        <ng-container matColumnDef="house">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>House</th>
            <td mat-cell *matCellDef="let c">{{c['house']}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 20, characters.data.length]"
               showFirstLastButtons
               aria-label="Select page of characters">
</mat-paginator>