.profile {
    width: 80%;
    background-color: #424242;
    margin: auto;
    padding: 10px;
    border-radius: 1em;

    div {
        clear: both;
        width: 200px;
    }

    div.float {
        float: left;
        clear: none;
    }

    div.notes {
        width: auto;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0;
}