div.messages {
    background-color: #424242;
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 1em;

    .messageContainer {
        .message {
            max-width: 800px;
            display: flex;
            margin-right: auto;
            margin-left: auto;

            .messageContent {
                flex: 1;
                background-color: #36393f;
                padding: 5px;

                img.d-emoji {
                    height: 2em;
                }
            }

            .messagePoster {
                width: 125px;
                text-align: right;
                padding-right: 15px;
                font-weight: bold;
                background-color: #2f3136;
                padding: 5px;
            }
        }
    }

    .messageContainer:first-of-type {
        .messagePoster {
            display: none;
        }

        .messageContent {
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            padding: 10px;

            pre {
                white-space: pre-wrap;
            }
            a, a:visited, a:active {
                color: #dcddde;
            }
        }

        padding-bottom: 10px;
    }

    .messageContainer:last-of-type {
        .messagePoster {
            border-bottom-left-radius: 1em;
        }

        .messageContent {
            border-bottom-right-radius: 1em;
        }
    }
}