div.header {
    background-color: black;
    background-image: url('/assets/images/header.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    height: 150px;
    text-align: right;
    border-bottom: solid white 3px;

    div.menu {
        text-align: center;
        float: left;

        ul {
            list-style-type: none;

            li {
                float: left;
                display: block;
                padding: 5px;

                a {
                    padding: 5px;
                    display: block;
                }
            }

            li:hover {
                background-color: #852b37;
                border-radius: 1em;
                border-top: solid white 3px;
                border-left: solid white 3px;
                border-right: solid white 3px;

                a {
                    text-decoration: none;
                }
            }
        }
    }

    div.loginButtons {
        text-align: left;
        margin-left: 50px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 775px) {
    div.header {
        div.menu {
            ul {
                li {
                    background-color: #852b37;
                    border: 0;
                    border-top: solid white 3px;
                }

                li:first-of-type {
                    border-left: solid white 3px;
                }

                li:hover {
                    border-radius: 0;
                    background-color: #2f3136;
                }
            }
        }
    }
}