<div class="profile" *ngIf="character">
    <div class="nameblock">
        <img class="picture" *ngIf="character.picture" src="https://host.lgbt/pics/{{character.picture}}">

        <h2>{{character.name}}</h2>
        <h3 *ngIf="character.nickname1 || character.nickname2">
            (
                <span *ngIf="character.nickname1">{{character.nickname1}}</span>
                <span *ngIf="character.nickname2">{{character.nickname2}}</span>
            )
        </h3>
    </div>

    <div class="notes" *ngIf="character.identifiers || character.noncombat">
        <h4>Notes</h4>
        <p class="identifiers" *ngIf="character.identifiers" [innerHtml]="character.identifiers"></p>
        <p class="noncombat" *ngIf="character.noncombat" [innerHtml]="character.noncombat"></p>
    </div>

    <div class="player float" *ngIf="character.player">
        <h4>Player</h4>
        <p>{{character.player}}</p>
    </div>

    <div class="status float" *ngIf="character.status">
        <h4>Status</h4>
        <p>{{character.status}}</p>
    </div>

    <div class="sect float" *ngIf="character.sect">
        <h4>Sect</h4>
        <p>{{character.sect}}</p>
    </div>

    <div class="birthday float" *ngIf="character.birthmonth && character.birthdate && character.year">
        <h4>Birthday</h4>
        <p>{{character.birthmonth}} {{character.birthdate}}, {{character.year}} AR</p>
    </div>

    <div class="zodiac float" *ngIf="character.zodiac">
        <h4>Zodiac</h4>
        <p>{{character.zodiac}}</p>
    </div>

    <div class="bloodtype float" *ngIf="character.bloodtype">
        <h4>Blood Type</h4>
        <p>{{character.bloodtype}}</p>
    </div>

    <div class="gender float" *ngIf="character.gender">
        <h4>Gender</h4>
        <p>{{character.gender}}</p>
    </div>

    <div class="orientation float" *ngIf="character.orientation">
        <h4>Orientation</h4>
        <p>{{character.orientation}}</p>
    </div>

    <div class="haircolor float" *ngIf="character.haircolor">
        <h4>Hair Color</h4>
        <p>{{character.haircolor}}</p>
    </div>

    <div class="eyecolor float" *ngIf="character.eyecolor">
        <h4>Eye Color</h4>
        <p>{{character.eyecolor}}</p>
    </div>

    <div class="height float" *ngIf="character.heightfeet && character.heightinches && character.heightcms">
        <h4>Height</h4>
        <p>{{character.heightfeet}}'{{character.heightinches}}" ({{character.heightcms}} cm)</p>
    </div>

    <div class="build float" *ngIf="character.build">
        <h4>Build</h4>
        <p>{{character.build}}</p>
    </div>

    <div class="skintone float" *ngIf="character.skintone">
        <h4>Skin Tone</h4>
        <p>{{character.skintone}}</p>
    </div>

    <div class="cupsize float" *ngIf="character.cupsize">
        <h4>Cup Size</h4>
        <p>{{character.cupsize}}</p>
    </div>

    <div class="hometown float" *ngIf="character.hometown || character.country">
        <h4>Hometown/Country</h4>
        <p>{{character.hometown}}<span *ngIf="character.hometown">,</span> {{character.country}}</p>
    </div>

    <div class="house float" *ngIf="character.house">
        <h4>House</h4>
        <p>{{character.house}}</p>
    </div>

    <div class="socialclass float" *ngIf="character.socialclass">
        <h4>Social Class</h4>
        <p>{{character.socialclass}}</p>
    </div>

    <div class="jobs float" *ngIf="character.jobs">
        <h4>Jobs</h4>
        <p>{{character.jobs}}</p>
    </div>

    <div class="subjobs float" *ngIf="character.subjobs">
        <h4>Subjobs</h4>
        <p>{{character.subjobs}}</p>
    </div>

    <div class="class float" *ngIf="character.class">
        <h4>Class</h4>
        <p>{{character.class}}</p>
    </div>

    <div class="pastclasses float" *ngIf="character.pastclasses">
        <h4>Past Classes</h4>
        <p>{{character.pastclasses}}</p>
    </div>

    <div class="mounts" *ngIf="character.mounts">
        <h4>Mounts</h4>
        <p *ngFor="let m of character.mounts">{{m.MountName}} - {{m.MountGender}} {{m.MountColor}} {{m.MountType}} - {{m.Status}} <span *ngIf="m.Current">(current)</span></p>
    </div>

    <div class="relationships" *ngIf="character.relationships">
        <h4>Relationships</h4>
        <p *ngFor="let r of character.relationships"><a href="/{{getRoute(r.CharType)}}/{{r.CharID}}">{{r.Name}}</a> - {{r.Relationship}}</p>
    </div>

    <div class="connections" *ngIf="character.connections">
        <h4>Connections</h4>
        <p *ngFor="let c of character.connections"><a href="/{{getRoute(c.CharType)}}/{{c.CharID}}">{{c.Name}}</a> - {{c.Relationship}}</p>
    </div>

    <div class="weapons" *ngIf="character.weapons">
        <h4>Weapon Proficiencies</h4>
        <table>
            <tr>
                <th>Axes</th>
                <th>Swords</th>
                <th>Daggers</th>
                <th>Lances</th>
            </tr>
            <tr>
                <td>{{character.weapons.Axes}}</td>
                <td>{{character.weapons.Swords}}</td>
                <td>{{character.weapons.Daggers}}</td>
                <td>{{character.weapons.Lances}}</td>
            </tr>
            <tr>
                <th>Maces</th>
                <th>QStaves</th>
                <th>Whips</th>
                <th>Unarmed</th>
            </tr>
            <tr>
                <td>{{character.weapons.Maces}}</td>
                <td>{{character.weapons.QStaves}}</td>
                <td>{{character.weapons.Whips}}</td>
                <td>{{character.weapons.Unarmed}}</td>
            </tr>
            <tr>
                <th>LBows</th>
                <th>SBows</th>
                <th>CBows</th>
                <th>Thrown</th>
            </tr>
            <tr>
                <td>{{character.weapons.LBows}}</td>
                <td>{{character.weapons.SBows}}</td>
                <td>{{character.weapons.CBows}}</td>
                <td>{{character.weapons.Thrown}}</td>
            </tr>
        </table>
    </div>

    <div class="magic" *ngIf="character.weapons">
        <h4>Magic Proficiencies</h4>
        <table>
            <tr>
                <th>Fire</th>
                <th>Wind</th>
                <th>Thunder</th>
            </tr>
            <tr>
                <td>{{character.weapons.Fire}}</td>
                <td>{{character.weapons.Wind}}</td>
                <td>{{character.weapons.Thunder}}</td>
            </tr>
            <tr>
                <th>Light</th>
                <th>Dark</th>
                <th>Staves</th>
            </tr>
            <tr>
                <td>{{character.weapons.Light}}</td>
                <td>{{character.weapons.Dark}}</td>
                <td>{{character.weapons.Staves}}</td>
            </tr>
            <tr>
                <th>Magic Type</th>
                <td colspan="2">
                    <span *ngIf="character.weapons.MagicType === 0">None</span>
                    <span *ngIf="character.weapons.MagicType === 1">Combat</span>
                    <span *ngIf="character.weapons.MagicType === 2">Practical</span>
                    <span *ngIf="character.weapons.MagicType === 3">Combat & Practical</span>
                </td>
            </tr>
        </table>
    </div>

    <div class="languages" *ngIf="character.languages">
        <h4>Language Proficiencies</h4>
        <table>
            <tr *ngIf="character.languages.Trade">
                <th>Trade</th>
            </tr>
            <tr *ngIf="character.languages.Trade">
                <td>{{character.languages.Trade}}</td>
            </tr>
            <tr>
                <th colspan="4" *ngIf="character.languages.TradeNotes">Trade Notes</th>
            </tr>
            <tr>
                <td colspan="4" *ngIf="character.languages.TradeNotes">{{character.languages.TradeNotes}}</td>
            </tr>
            <tr *ngIf="character.languages.Dentorian || character.languages.OldDentorian || character.languages.HighDentortian || character.languages.OldHighDentorian">
                <th>Dentorian</th>
                <th>Old Dentorian</th>
                <th>High Dentorian</th>
                <th>Old High Dentorian</th>
            </tr>
            <tr *ngIf="character.languages.Dentorian || character.languages.OldDentorian || character.languages.HighDentortian || character.languages.OldHighDentorian">
                <td>{{character.languages.Dentorian}}</td>
                <td>{{character.languages.OldDentorian}}</td>
                <td>{{character.languages.HighDentorian}}</td>
                <td>{{character.languages.OldHighDentorian}}</td>
            </tr>
            <tr *ngIf="character.languages.DentorianNotes">
                <th colspan="4">Dentorian Notes</th>
            </tr>
            <tr>
                <td colspan="4">{{character.languages.DentorianNotes}}</td>
            </tr>
            <tr *ngIf="character.languages.Megami || character.languages.AncientMegami">
                <th>Megami</th>
                <th>Ancient Megami</th>
            </tr>
            <tr *ngIf="character.languages.Megami || character.languages.AncientMegami">
                <td>{{character.languages.Megami}}</td>
                <td>{{character.languages.AncientMegami}}</td>
            </tr>
            <tr *ngIf="character.languages.MegamiNotes">
                <th colspan="4">Megami Notes</th>
            </tr>
            <tr *ngIf="character.languages.MegamiNotes">
                <td colspan="4">{{character.languages.MegamiNotes}}</td>
            </tr>
            <tr *ngIf="character.languages.Atsirian || character.languages">
                <th>Atsirian</th>
                <th>Azsharan</th>
                <th>Nomadic Atsirian</th>
            </tr>
            <tr *ngIf="character.languages.Atsirian || character.languages">
                <td>{{character.languages.Atsirian}}</td>
                <td>{{character.languages.Azsharan}}</td>
                <td>{{character.languages.NomadicAtsirian}}</td>
            </tr>
            <tr *ngIf="character.languages.AtsirianNotes">
                <th colspan="4">Atsirian Notes</th>
            </tr>
            <tr *ngIf="character.languages.AtsirianNotes">
                <td colspan="4">{{character.languages.AtsirianNotes}}</td>
            </tr>
            <tr *ngIf="character.languages.Kilian || character.languages.RunicKilian || character.languages.Danaan">
                <th>Kilian</th>
                <th>Runic Kilian</th>
                <th>Danaan</th>
            </tr>
            <tr *ngIf="character.languages.Kilian || character.languages.RunicKilian || character.languages.Danaan">
                <td>{{character.languages.Kilian}}</td>
                <td>{{character.languages.RunicKilian}}</td>
                <td>{{character.languages.Danaan}}</td>
            </tr>
            <tr *ngIf="character.languages.KilianNotes">
                <th colspan="4">Kilian Notes</th>
            </tr>
            <tr *ngIf="character.languages.KilianNotes">
                <td colspan="4">{{character.languages.KilianNotes}}</td>
            </tr>
            <tr *ngIf="character.languages.Romani">
                <th>Romani</th>
            </tr>
            <tr *ngIf="character.languages.Romani">
                <td>{{character.languages.Romani}}</td>
            </tr>
            <tr *ngIf="character.languages.RomaniNotes">
                <th>Romani Notes</th>
            </tr>
            <tr *ngIf="character.languages.RomaniNotes">
                <td>{{character.languages.RomaniNotes}}</td>
            </tr>
        </table>
    </div>
</div>