.profile {
    div {
        clear: both;
        width: 200px;
    }

    div.float {
        float: left;
        clear: none;
    }

    div.notes {
        width: auto;
    }

    div.nameblock {
        width: auto;
        height: 120px;

        h3 {
            span + span:last-child {
                &::before {
                    content: ", ";
                }
            }
            span:nth-of-type(n + 2):not(:last-child) {
                &::before {
                    content: ", ";
                }
            }
        }
    }

    img {
        float: left;
        padding-right: 20px;
        padding-bottom: 20px;
    }
}