.profile {
    div {
        clear: both;
        width: 200px;
    }

    div.float {
        float: left;
        clear: none;
    }

    div.notes {
        width: auto;
    }

    div.nameblock {
        width: auto;
        height: 120px;
    }

    img {
        float: left;
        padding-right: 20px;
        padding-bottom: 20px;
    }
}