.profile {
    width: 80%;
    background-color: #424242;
    margin: auto;
    padding: 10px;
    border-radius: 1em;
    border-left: solid white 3px;
    border-top: solid white 3px;

    div {
        clear: both;
        width: 200px;
    }

    div.float {
        float: left;
        clear: none;
    }

    div.notes, div.mounts, div.relationships, div.connections {
        width: auto;
    }

    div.nameblock {
        width: auto;
        height: 120px;

        h3 {
            span + span:last-child {
                &::before {
                    content: ", ";
                }
            }
            span:nth-of-type(n + 2):not(:last-child) {
                &::before {
                    content: ", ";
                }
            }
        }
    }

    img {
        float: left;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    div.languages, div.weapons, div.magic {
        table {
            font-size: smaller;
            border-collapse: collapse;

            tr:nth-child(even) {
                background-color: #36393f;
            }

            tr:nth-child(odd) {
                background-color: #2f3136;
            }

            tr {
                td:empty::after {
                    content: "\00a0";
                }

                td {
                    border: 1px solid black;
                    min-width: 135px;
                    text-align: center;
                    padding: 5px;
                }

                th {
                    border: 1px solid black;
                    padding: 5px;
                }
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0;
}