.message {
    display: flex;

    .messageContent {
        img.d-emoji {
            height: 15px;
        }

        flex: 1;
    }

    .messagePoster {
        width: 100px;
        text-align: right;
        padding-right: 5px;
    }
}

.messageContainer:first-of-type {
     .messagePoster {
         display: none;
     }

     .messageContent {
        pre {
            white-space: pre-wrap;
        }
     }

     padding-bottom: 10px;
}