body {
    background-color: maroon;
    color: #dcddde;
}

a, a:visited, a:active {
    color: #dcddde;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
